<template name="dealItem">
  <div class="post">
    <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a>
    <div class="post-content">
      <h3><span>{{when}} </span>{{dealTitle}}<span> {{venueName}}</span></h3>
      <p>
        {{votes}} people love this deal,
        Deal submitted by <b>{{submittedBy}}</b>,
        <a href="{{pathFor 'dealPage'}}">{{commentsCount}} comments</a>
        {{#if ownDeal}}<a href="{{pathFor 'dealEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'dealPage'}}" class="discuss btn btn-default">Details</a>
  </div>
</template>
