<template name="dealSubmit">
  <form class="main form page">
    <!-- Deal title/description input -->
    <div class="form-group">
      <label class="control-label" for=""> </label>
      <div class="controls">
        <input name="dealTitle" id="dealTitle" type="text" value="" placeholder="What's the deal?" class="form-control"/>
      </div>
    </div>
    <!-- Where is the deal on input -->
    <div class="form-group">
      <label class="control-label" for=""> </label>
      <div class="controls geo-name">
        <input name="venueName" id="venueName" type="text" value="" placeholder="Where is this deal offered?" class="form-control" data-geo="name"/>
      </div>
    </div>
    <!-- When is the deal on input -->
    <div class="form-group">
      <label class="control-label" for=""> </label>
      <div class="controls">
        <input name="when" id="when" type="text" value="" placeholder="When is this deal on?" class="form-control"/>
      </div>
    </div>
    <!-- Submit button -->
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>