<!--This file will display all the changes as I push to the staging site -->

<Template name='changeLog'>
  <h3>Any pushed updates will be listed here</h3>
  <ul>
    <li>10-06-15 : Added basic upvoting of deals</li>
    <li>10-06-15 : Added pagination - 10 posts per page</li>
    <li>10-06-15 : Get notified when someone comments on your deal</li>
    <li>10-06-15 : Added commenting</li>
    <li>10-05-15 : Added form validation, making sure all required data is input</li>
    <li>10-02-15 : Added error messages</li>
    <li>10-02-15 : Prevent users from updating certain fields </li>
    <li>10-02-15 : Added Edit and Delete Deals</li>
  </ul>
</Template>
