<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'dealsList'}}">SwigFU</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <!--Changelog so Albert knows what's up -->
      <ul class="nav navbar-nav">
        <li><a href="{{pathFor 'changeLog'}}">Change Log for Albert Dickbreath</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li>
          <a href="{{pathFor 'newDeals'}}">New</a>
        </li>
        <li>
          <a href="{{pathFor 'bestDeals'}}">Best</a>
        </li>
      {{#if currentUser}} <!-- Hide submit button if !loggedIn -->
        <li><a href="{{pathFor 'dealSubmit'}}">Submit a Deal</a>
        </li>
        <li class="dropdown">
          {{> notifications}}
        </li>
      {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </nav>
</template>
